.App {
  flex-direction: row;
  display: flex;
  min-height: 400px;
}

h1 {
  text-align: center;
}

.instructionsBox {
  margin: 0px 30px;
}

.notDisplayed {
  display: none;
}

/* Squares Grid */

.headerText{
  vertical-align: middle;
}

.teamRow {
  border-bottom-style: solid; 
  border-bottom-width: medium;
  justify-content: center;
}

.teamColumn {
  border-top-style: none !important;
  border-bottom-style: none !important;
}

.squaresGrid {
  flex: 4;
  margin: 30px;
  border-style: solid;
  border-width: medium;
}


/* Name box */
.nameBox {
  flex: 1;
  margin: 30px;
  min-height: 365px;
  border-style: solid;
  border-width: thin;
}

.btn {
  text-align: center;
}

.nameError {
  text-align: center;
  border-style: solid;
  border-color: red;
  padding: 5px;
  margin: 10px;
}

.nameInput {
  text-align: center;
}

.singleName {
  padding: 5px;
}

 /* Footer */
.footer {
  min-height: 100px;
  background-color :lightgray;
  padding: 0;
  margin: 0;
  border: 0;
}

.footerContent {
  padding: 30px;
}

.footerLeft {
  float: left;
}

.footerRight {
  float: right;
}
