.App {
  flex-direction: row;
  display: flex;
  min-height: 400px;
}

h1 {
  text-align: center;
}

.teamRow {
  border-bottom-style: solid; 
  border-bottom-width: medium;
  justify-content: center;
}

.teamColumn {
  border-top-style: none !important;
  border-bottom-style: none !important;
}

.squaresGrid {
  flex: 4;
  margin: 30px;
  border-style: solid;
  border-width: medium;
}

.headerText{
  vertical-align: middle;
}

.nameBox {
  flex: 1;
  margin: 30px;
  min-height: 330px;
  border-style: solid;
  border-width: thin;
}

.btn {
  text-align: center;
}

.nameInput {
  text-align: center;
}

.singleName {
  padding: 5px;
}
